langchain
langchain_community
langchain-text-splitters
langchain-openai
langchain_groq
langchain_core
langchain_nvidia_ai_endpoints
langserve
langchain_chroma
langchain_huggingface
sentence_transformers
huggingface_hub
faiss-cpu
ipykernel
python-dotenv
pypdf
pymongo
bs4
pymupdf
wikipedia
arxiv
chromadb
duckdb
duckduckgo-search
streamlit
fastapi
openai
gradio
crewai
crewai_tools
neo4j==5.14
